# Environment
.env
config.ini
config.cfg
bump_settings.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
discord.py-self

# Distribution
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log